.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--x-background);
}

.post__body {
    flex: 1;
    padding-top: 5px;
    padding-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.post__body img {
    border-radius: 20px;
    width: 95%;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-right: 27px;
    margin-top: 10px;
}

.post__footer button {
    background: none;
    border: none;
    cursor: pointer;
}

.post__footer .favorite__icon {
    width: 22px;  
    height: 22px;
    object-fit: contain; 
    border-radius: 0;
}

.favorite__icon.red {
    background-color: red;
  }

.post__headerDescription {
    margin-bottom: 15px;
    font-size: 15px;
}

.post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerText h3 span {
    font-size: 15px;
    color: #c6c4c4;
}

.post__badge {
    font-size: 14px !important;
    color: var(--x-color);
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: grey;
    margin-left: 3px;
    margin-right: 5px;
}

.post__avatar {
    padding: 15px;
}

