.sidebar {
    border-right: 1px solid var(--x-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar__xIcon {
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar__tweet {
    background-color: var(--x-color) !important;
    color: #fff !important;
    font-weight: 900 !important;
    border: none !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}

.logout__link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #f95924;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    margin-top: 80px;
}