.login__container {
    margin: 50px auto;
    text-align: center;
}

.login__container h1 {
    margin-bottom: 80px;
}

.login__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 15rem;
    height: 3rem;
    background-color: #fff;
    border: #555 1px solid;
    border-radius: 30px;
    font-size: 14px;
    transition: all .3s;
}

button .login__googleIcon {
    margin-right: 10px;
}

.login__btn:hover {
    background-color: #000;
    color: #fff;
}